main {
    height: auto;
    width: 100vw;
    padding: 10% 4%;
    font-size: 1.5em;
    line-height: 2;
    display: flex;
    justify-content: space-evenly;
}

.prev-article {
    font-size: 14pt;
}

@media screen and (max-width:850px) {
    main {
        flex-direction: column;
    }

    header {
        text-align: center;
        padding: 5%;
    }

    section {
        margin: 15px 0;
    }

    
}