/* GENERAL SETTING */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: auto;
    height: 0;
    display: grid;
    grid-template-areas:
    "header"
    "title"
    "main"
    "footer"; 
}
nav {
    grid-area: header;
}
.title {
    grid-area: title;
}
main {
    grid-area: main;
}
footer {
    grid-area: footer;
}
/* THIS IS THE MENU ICON FOR MOBILE 
DEVICES THAT IS HIDDEN 
FOR LARGE SCREEN SIZES */
.menu-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    padding: 6px;
    border-radius: 10px;
    cursor: pointer;
    background: 
    rgba(255,255,255, 0.2);
}
.menu-btn:hover {
    background-color: aliceblue;
}
/* NAVBAR NAVIGATION */
.navbar {
    color: whitesmoke;
    background: black;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    padding: 40px;
    color: white;
    width: 100%;
    font-size: 2vmin;
    transition: 
    all, 
    0.2s 
    ease-in;
}

nav a {
    text-decoration: none;
    color: white;
}

.btn2 {
    background: 
    rgba(0, 0, 0, 0.2);
    color: white;
    outline-style: outset;
    padding: 10px;
    border-radius: 10px;
}

.logo {
    user-select: none;
}
/* THIS IS FOR THE JAVASCRIPT I MADE WHEN 
SCROLLING 
DOWN SO THAT THE NAVBAR WILL STICK */
.sticky {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    padding: 40px;
    color: black;
    background: white;
    width: 100%;
    font-size: 2vmin;
    box-shadow: 
    rgba(60, 64, 67, 0.3) 
    0px 1px 2px 0px, 
    rgba(60, 64, 67, 0.15) 
    0px 1px 3px 1px;
    transition: 
    all, 
    0.3s 
    ease-out;
}
/* NAVBAR TEXT WILL BECOME BLACK 
WHEN SCROLLED IN WHITE BG. */
.blackk {
    text-decoration: none;
    color: black;
}

.blackk:hover {
    color: rgba(0, 0, 0, 0.6)
}

nav a:hover {
    color: rgba(255, 255, 255, 0.8);
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-links li {
    margin: 0 30px;
}

.active {
    background: 
    rgba(255,255,255,0.2);
    font-weight: bold;
    padding: 15px;
    border-radius: 10px;
}

/* FOOTER */
footer {
    height: 60vh;
    width: 100vw;
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 7vmin;
    text-align: center;
    margin-top: 2vh;
}

footer li {
    margin: 0 30px;
    list-style: none;
}

footer a{
    text-decoration: none;
    color: white;
}

footer a:hover {
    color: 
    rgba(255, 255, 255, 0.8);
}

.rights{
    margin-top: 10px;
}

footer i{
    margin: 0 30px;
    width: 40px;
    margin-top: 30px;
}

/* MEDIA QUERY */
@media screen and (min-width:850px) {
    .menu-btn {
        visibility: hidden;
    }
}

@media only screen and (max-width:850px) {
    header {
        background-position: right;
    }

    header h1 {
        margin-left: 40px;
        margin-right: 40px;
    }

    .navbar {
        padding: 0;
    }

    .logo {
        position: absolute;
        top: 30px;
        left: 10px;
        color: white;
        visibility: hidden;
    }

/* THE LOGO WILL BE HIDDED WHEN 
SCROLLED WITH SMALLER DEVICES */
    .logo2 {
        visibility: hidden;
    }

    .btn2 {
        background: transparent;
        color: white;
        outline-style: outset;
        padding: 10px;
        border-radius: 10px;
    }

    .nav-links {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background: rgb(255,255,255);
        margin-top: -940px;
        transition: all, 0.5s ease;
    }
/* THIS IS FOR THE MOBILE MENU WHEREBY THE NAV 
WILL BE HIDDEN SO YOU HAVE TO CLICK THE MENU ICON 
TO SHOW THE MENU */
    .mobile-menu {
        margin-top: 0px;
    }

    .nav-links a {
        color: black;
        font-size: 3em;
    }

    .nav-links a:hover {
        background: azure;
        color: black;
        padding: 10px;
        border-radius: 10px;
    }

    .nav-links li {
        margin: 30px auto;
    }

    footer {
        align-items: center;
        height: 60vh;
        padding: 230px 0;
    }
    
    footer ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    footer li {
        margin: 6px 0;
    }

    footer i{
        margin: 0 20px;
        width: 40px;
        margin-top: 30px;
    }


}