main {
    height: auto;
    width: 100vw;
    background: #141E27;
    color: white;
    padding: var(--padding-top1) 0;
}
/* THIS IS FOR THE SECTION 1 */
.article-group-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.post-sect1-figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.post-sect1-figure figcaption {
    max-width: var(--para-max-width);
    margin: 0 40px;
}
#tiny-text {
    text-align: center;
}
.post-sect1-figure h1 {
    font-size: var(--title-text);
}
.post-sect1-figure figcaption {
    font-size: var(--text-size-2);
}
.post-sect1-article p, .post-sect1-article h2 {
    font-size: var(--text-size-2);
    max-width: var(--para-max-width);
    line-height: var(--line-height1);
    align-self: center;
    margin: 0 20px;
}
.post-sect1-article h2 {
    font-size: var(--text-size-1);
}
/* HOVER FOR BLOG */
.blog-nav-text a:hover {
    color: rgba(0,0,0,0.5);
}
.blog-nav-text2 a:hover {
    color: rgba(255,255,255, 0.5);
}
.section1-blog-img:hover::before {
    opacity: 0;
}
.section1-blog h1 a:hover, 
.section1-blog p a:hover {
    color: rgba(255,255,255, 0.5);
}