/* GENERAL SETTINGS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0%;
    width: auto;
    height: auto;
    display: grid;
    grid-template-areas:
    "header"
    "main"
    "footer";
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}


/* ADD-ONS IS FOR EXTRA THINGS I ADDED 
I DON'T KNOW WHY BUT IT KINDA ADDED 
SOME STYLES */
.line2 {
    width: 150px;
    height: 4px;
    margin: 20px auto;
    background: black;
    border-radius: 5px;
}

.line {
    width: 150px;
    height: 4px;
    margin: 20px auto;
    background: white;
    border-radius: 5px;
}

.line::after {
    content: "";
    width: 150px;
    height: 4px;
    position: absolute;
    background-color: white;
    transition: 
    all, 
    0.2s 
    ease-in-out;
}

.line:hover::after {
    width: 200px;
}

.btn {
    padding: 13px;
    margin: 20px auto;
}

.btn2 {
    background: 
    rgba(0, 0, 0, 0.2);
    color: white;
    outline-style: outset;
    padding: 10px;
    border-radius: 10px;
}

.here {
    font-weight: bolder;
}

.active {
    background: 
    rgba(255,255,255,0.2);
    font-weight: bold;
    padding: 15px;
    border-radius: 10px;
}
/* THIS IS THE MENU ICON FOR MOBILE 
DEVICES THAT IS HIDDEN 
FOR LARGE SCREEN SIZES */
.menu-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    padding: 6px;
    border-radius: 10px;
    cursor: pointer;
    background: 
    rgba(255,255,255, 0.2);
}

.menu-btn:hover {
    background-color: aliceblue;
}
.logo {
    user-select: none;
}

.logo::after {
    content: "";
    position: absolute;
    background-color: azure;
    height: 3px;
    width: 0;
    left: 0;
    bottom: 0px;
    transition: all, 
    0.3s ease-in-out;
}

.logo:hover::after {
    width: 25%;
}

.seefull {
    color: black;
}

/* NAVBAR NAVIGATION */
.navbar {
    color: whitesmoke;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    padding: 40px;
    color: white;
    width: 100%;
    font-size: 2vmin;
    transition: 
    all, 
    0.2s 
    ease-in;
}

nav a {
    text-decoration: none;
    color: white;
}
/* THIS IS FOR THE JAVASCRIPT I MADE WHEN 
SCROLLING 
DOWN SO THAT THE NAVBAR WILL STICK */
.sticky {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    padding: 40px;
    color: black;
    background: white;
    width: 100%;
    font-size: 2vmin;
    box-shadow: 
    rgba(60, 64, 67, 0.3) 
    0px 1px 2px 0px, 
    rgba(60, 64, 67, 0.15) 
    0px 1px 3px 1px;
    transition: 
    all, 
    0.3s 
    ease-out;
}
/* NAVBAR TEXT WILL BECOME BLACK 
WHEN SCROLLED IN WHITE BG. */
.blackk {
    text-decoration: none;
    color: black;
}

.blackk:hover {
    color: rgba(0, 0, 0, 0.6)
}

nav a:hover {
    color: rgba(255, 255, 255, 0.8);
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-links li {
    margin: 0 30px;
}


/* HEADER LANDING PAGE */
header {
    background: 
    url("Photos/AdobeStock_216604243.jpeg");
    background-size: cover !important;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header h1 {
    background: 
    rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    color: whitesmoke;
    font-size: 10vmin;
    text-align: center;
    margin: 100px 20px 0;
    outline-style: outset;
    padding: 20px;
    transition: 
    all, 
    0.8s 
    ease-in-out ;
}

/* THIS IS FOR THE ANIMATIONS */

header h1:hover {
    background: 
    linear-gradient(to right,
    rgba(0,0,0,0.2), 
    rgba(169, 164, 164, 0.4));
}


/* MAIN SECTION IS DIVIDED IN EVERY 
SEMANTIC NAMED SECTION */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100vw;
    padding: 40%;
}

main section {
    margin: 50px 0;
}

.main-section img {
    width: 60vw;
    border-radius: 26px;
    box-shadow: 
    rgba(0, 0, 0, 0.07) 
    0px 1px 1px, 
    rgba(0, 0, 0, 0.07) 
    0px 2px 2px, 
    rgba(0, 0, 0, 0.07) 
    0px 4px 4px, 
    rgba(0, 0, 0, 0.07) 
    0px 8px 8px, 
    rgba(0, 0, 0, 0.07) 
    0px 16px 16px;
}

.main-section h1 {
    font-size: 6vmin;
    text-align: center;
    line-height: 2;
}

.second-section figcaption {
    font-size: 1.5em;
    line-height: 2;
    text-align: justify;
    margin: 30px auto;
}

.second-section h2 {
    font-weight: bold;
}

.third-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 65vw;
}


.third-section img {
    width: 40vw;
    margin: 0 0 50px auto; 
}
.third-section img:nth-child(2) {
    float: left;
}

.third-section article {
    font-size: 1.5em;
    width: 20vw;
    text-align: justify;
}

.third-section article h1 {
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 10vmin;
    font-weight: bolder;
    background-color: #666666;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
}

.figure-2 {
    display: flex;
    flex-direction: column;
}
.figure-2 h1 {
    font-weight: bolder;
    color: black;
    font-size: 10vmin;
    text-shadow: 
    4px 3px 0px #fff, 
    9px 8px 0px rgba(0,0,0,0.15);
}

.fourth-section {
    margin-top: 100px;
}

.fourth-section video {
    width: 100vw; 
}

.fifth-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 65vw;
    margin-top: 100px;
}
.fifth-section iframe {
    margin-left: 20px;
    border-radius: 26px;
    box-shadow: 
    rgba(0, 0, 0, 0.07) 
    0px 1px 1px, 
    rgba(0, 0, 0, 0.07) 
    0px 2px 2px, 
    rgba(0, 0, 0, 0.07) 
    0px 4px 4px, 
    rgba(0, 0, 0, 0.07) 
    0px 8px 8px, 
    rgba(0, 0, 0, 0.07) 
    0px 16px 16px;
}
.para-text {
    text-align: justify;
    font-size: 1.5em;
    line-height: 2;
}
/*
THIS IS SOME OF THE PREVIOUS CODES I MADE FOR THE 
.fifth-section WHEREBY I NEED TO CREATE SOME CAROUSEL 
SLIDES BUT THE BUTTON IS NOT WORKING AND THERE ARE 
SOME WEIRD STUFF HAPPENINGSO I NEED 
TO WORK IT OUT!
.figures {
    display: flex;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 20px;
    width: 35vw;
}

.figures img {
    width: 25vw;
    height: 30vh;
    margin: 10px;
}

.figures img:hover {
    box-shadow: 
    rgba(3, 102, 214, 0.3) 
    0px 0px 0px 3px;;
} */

#aboutus {
    text-align: center;
    font-size: 1.5em;
    width: 65vw;
    margin-top: 200px;
    line-height: 2;
}


/* FOOTER */
footer {
    height: 60vh;
    width: 100vw;
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 7vmin;
    text-align: center;
}

footer li {
    margin: 0 30px;
    list-style: none;
}

footer a{
    text-decoration: none;
    color: white;
}

footer a:hover {
    color: 
    rgba(255, 255, 255, 0.8);
}

.rights{
    margin-top: 10px;
}

footer i{
    margin: 0 30px;
    width: 40px;
    margin-top: 30px;
}


/* MEDIA QUERY */
@media screen and (min-width:850px) {
    .menu-btn {
        visibility: hidden;
    }
}

@media only screen and (max-width:850px) {
    header {
        background-position: right;
    }

    header h1 {
        margin-left: 40px;
        margin-right: 40px;
    }

    .navbar {
        padding: 0;
    }

    .logo {
        position: absolute;
        top: 30px;
        left: 10px;
        color: white;
    }

/* THE LOGO WILL BE HIDDED WHEN 
SCROLLED WITH SMALLER DEVICES */
    .logo2 {
        visibility: hidden;
    }

    .btn2 {
        background: transparent;
        color: white;
        outline-style: outset;
        padding: 10px;
        border-radius: 10px;
    }

    .nav-links {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background: rgb(255,255,255);
        margin-top: -940px;
        transition: all, 0.5s ease;
    }
/* THIS IS FOR THE MOBILE MENU WHEREBY THE NAV 
WILL BE HIDDEN SO YOU HAVE TO CLICK THE MENU ICON 
TO SHOW THE MENU */
    .mobile-menu {
        margin-top: 0px;
    }

    .nav-links a {
        color: black;
        font-size: 3em;
    }

    .nav-links a:hover {
        background: azure;
        color: black;
        padding: 10px;
        border-radius: 10px;
    }

    .nav-links li {
        margin: 30px auto;
    }

    .third-section {
        flex-direction: column-reverse;
    }

    .third-section img {
        width: 65vw;
        margin: 20px auto;
    }

    .third-section article {
        line-height: 2;
        margin: 30px 0;
        width: 65vw;
        font-size: 1.5em;   
    }
    .third-section h1 {
        display: none;
    }

    .fifth-section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .fifth-section iframe {
        margin-top: 40px;
        width: 65vw;
        height: 45vh;
    }

    .figures {
        display: flex;
        flex-direction: column;
        align-items: space-between;
        justify-content: center;
    }
    .figures img {
        width: 65vw;
        height: auto;
        margin: 20px auto;
    }

    .para-text {
        text-align: justify;
        font-size: 1.5em;
        line-height: 2;
    }

    #aboutus {
        margin-top: 10px;
    }

    footer {
        align-items: center;
        height: 60vh;
        padding: 230px 0;
    }
    
    footer ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    footer li {
        margin: 6px 0;
    }

    footer i{
        margin: 0 20px;
        width: 40px;
        margin-top: 30px;
    }
}