/*GENERAL SETTING*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
}
/* MY BODY IS DISPLAYED IN GRID
FOR THE PAGE 1 */
body {
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    overflow-x: hidden;
    animation: load 2000ms ease-in-out;
    font-family: 'lato',sans-serif;
}
header {
    grid-area: header;
}
main {
    grid-area: main;
}
footer {
    grid-area: footer;
}

@keyframes load {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}