/*GENERAL SETTING*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
}
/* MY BODY IS DISPLAYED IN GRID
FOR THE PAGE 1 */
body {
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    overflow-x: hidden;
}
header {
    grid-area: header;
    font-family: 'lato',sans-serif;
}
main {
    grid-area: main;
}
footer {
    grid-area: footer;
}
/* LOADING PAGE */
.loading  {
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    background: white;
    color: black;
    z-index: 3;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6vmin;
    animation: loader 4s ease-in-out;
    opacity: 0;
}

@keyframes loader {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
