/* SETTING UP THE NAV */
nav {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    font-size: 2.4vmin;
    height: 20vh;
}

nav a {
    text-decoration: none;
    font-family: 'Lato',sans-serif;
    color: white;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    margin: 0 30px;
}
.logo h1 {
    transition: 250ms;
}

/* FOR HOVERING LINKS */
.navbar a:hover {
    color:
    rgba(255,255,255,0.8);
}
.logo h1:hover {
    transform: translateX(10px);
}
