:root {
    --banner-background:
    linear-gradient(to right, 
    rgba(0,0,0,0.4),
    rgba(0,0,0,0.5));
    --hover-background-h1: 
    linear-gradient(to right, 
    rgba(0,0,0,0.4),
    rgba(255,255,255,0.3));
}


/* RULESET FOR HEADER */
header {
    height: 100vh;
    width: 100vw;
    background: 
    url(./Photos/AdobeStock_216604243.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
/* TEXT BANNER FOR HEADER LANDING PAGE */
.landing-page {
    color: white;
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.landing-page h1 {
    min-width: 60%;
    max-width: 85%;
    text-align: center;
    font-size: 10vmin;
    margin: 40px auto;
    padding: 20px;
    border: 3px solid white;
    border-radius: 20px;
    background: 
    var(--banner-background);
    user-select: none;
    position: relative;
    z-index: 1;
}
.btn {
    color: white;
    padding: 15px;
    border: 1px solid white;
    border-radius: 7px;
    text-decoration: none;
    text-align: center;
    animation: slides 2s ease;
    position: relative;
    z-index: 1;
}
/* KEYFRAMES FOR LANDING-PAGE */
@keyframes slides {
    0% {opacity: 0;}
    25% {opacity: 0.25;}
    50% {opacity: 0.5;}
    75% {opacity: 0.75}
    100% {opacity: 1;}
}
nav, section {
    animation: 
    slides 1.8s ease-in-out;
}
/* HOVERING ELEMENTS */
.landing-page h1:hover {
    animation: none;
}
.landing-page h1::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 20px;
    transform: scaleX(0);
    background:
    var(--banner-background);
    transform-origin: left;
    transition: all 1s ease-in-out;
    z-index: -1;
}
.landing-page h1:hover::before {
    background: 
    var(--hover-background-h1);
    transform: scaleX(1);
}
.btn:hover {
    background: var(--hover-background-h1);
}
/* MEDIA QUERY */
@media screen and (max-width: 600px) {
    header {
        background-position-x: 60%;
        background-size: cover;
    }
    .landing-page h1 {
        padding: 20px;
    }
    .landing-page h1:hover {
        background:
        linear-gradient(to right, 
        rgba(0,0,0,0.4),
        rgba(0,0,0,0.5));
    }
    .landing-page h1:hover::before {
        display: none;
    }
}